.padre_boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* Responsive para tablet */
    @media (max-width: 768px) {
  
        align-items: flex-start;
       
    }
    @media (max-width: 480px) {
  
            align-items: center;
       
    }


    .boton{
        padding: 10px 20px;
        background-color: $fondo-boton; 
        color: $texto-boton; 
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        font-family: $fuente-boton;
            &:hover{
                background-color: $fondo-boton-hover; 
                transform: scale(1.05);
            }
            @media (max-width: 480px) {
          
                    width: 100%; /* Opcional: ocupar todo el ancho en dispositivos móviles */
         
            }
    }
}

