.carousel {
    width: 100%;
    height: 50%;
    margin: 10px 20px;
    padding: 10px;
    
    .carousel-inner {
        .carousel-item {
            img {
                object-fit: cover;
                width: 100%;
                height: 90%;
            }

            p {
                background-color: $gris-oscuro;
                font-size: 1rem;
                font-weight: 400;
                font-family: $fuente-cuerpo;
                color: $blanco;
            }

            h5 {
                background-color: $gris-oscuro;
                font-size: 2rem;
                font-weight: 700;
                font-family: $fuente-titulo;
                color: $blanco;
            }
        }
    }
}