.pie {
    background-color: $fondo-pie-pagina;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    gap: .5rem;
    border-radius: 1rem;
    .item-social {
        font-size: 2rem;
        color: $texto-pie-pagina;
        transition: .10s;
    
         &:hover {
        transform: scale(1.4) rotate(360deg);
        }

        @media (max-width: 768px) {
            /* Estilos para tablet */
            bottom: 1rem;
            right: 1rem;
            font-size: 1.5rem;
          
        }
    
        @media (max-width: 480px) {
            /* Estilos adicionales para móvil */
            bottom: 0.5rem;
            right: 0.5rem;
            font-size: 1.2rem;
           
        }
    }   
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    
    .copyright-text {
        color: #343a40; 
    }
}