.portada{
    background-image: url(../img/fachada-min.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
        padding: .25rem;
        color: $blanco;
        background-color: rgba(19, 14, 9, 0.582);
        z-index: 1000;

        @media (max-width: 768px) {
            /* Estilos para tablet y móvil */
            h1 {
                font-size: 1.5rem;
            }
        }
    
        @media (max-width: 480px) {
            /* Estilos adicionales para móvil */
            h1 {
                font-size: 1.2rem;
            }
        }
    }

}