@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Urbanist:wght@400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    ::selection{
        background-color: $blanco;
        color: $azul-marino;
    }
}

body{
    background-color: $fondo-body;
}