@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Urbanist:wght@400;600;700;900&display=swap');

// Paleta de colores
$gris-oscuro: #333333;
$blanco: #FFFFFF;
$azul-marino: #001F3F;

// Fondo Principal
$fondo-body: $blanco;

// Encabezado o Navbar
$fondo-header: $gris-oscuro;
$texto-header: $blanco;

// Botones de navegación
$color-enlace-nav: $blanco;

// Botones
$fondo-boton: $azul-marino;
$texto-boton: $blanco;
$fondo-boton-hover: $gris-oscuro;

// Cuadros de Texto o Tarjetas
$fondo-card: $gris-oscuro;
$texto-card: $blanco;
$sombra-card: 0 4px 8px rgba(0, 0, 0, 0.1);

// Pie de Página
$fondo-pie-pagina: $gris-oscuro;
$texto-pie-pagina: $blanco;

// Selección de texto
$resaltado-texto: $blanco;
$texto-seleccionado: $azul-marino;